pip~=23.2.1
wheel~=0.38.4
brotli~=1.0.9
openssl~=3.0.12
cryptography~=38.0.4
lxml~=4.9.1
keyring~=23.4.0
beautifulsoup4~=4.12.2
pytz~=2022.6
numpy~=1.25.2
setuptools~=68.0.0
cffi~=1.15.1
typing_extensions~=4.7.1
arcgis~=2.1.0.3
notebook~=6.4.12
requests~=2.31.0
urllib3~=1.26.16
six~=1.16.0
cachetools~=4.2.2
ujson~=5.4.0
pandas~=2.0.3
oauthlib~=3.2.0
pillow~=9.4.0
matplotlib~=3.7.2
ipython~=7.34.0
traitlets~=5.5.0
ipykernel~=6.16.0
python-dateutil~=2.8.2
ipywidgets~=7.7.2
markupsafe~=2.1.1
numexpr~=2.8.4
certifi~=2023.11.17
blinker~=1.4
idna~=3.4
ply~=3.11
pycparser~=2.21
boto3~=1.26.76
botocore~=1.29.76